# Temperament Classification Model
## Rebecca Lewis
### DSC 680

In [1]:
from pycaret.classification import *
import pandas as pd
import numpy as np

In [2]:
#load final data
dataset = pd.read_csv('../Data/modeling_dataset.csv')
dataset.head()

,request_type,species,size,call_to_dispatch_sec,lat,long,condition,temperament,incident_month,incident_weekday,incident_hour,Cluster
0,CRUELTY CASE,DOG,LARGE,2160.0,30.494640,-91.156160,FAIR,FRIENDLY,12,1,15,Cluster 1
1,TRAPPED ANIMAL,OTHER,LARGE,60.0,30.431417,-91.141070,FAIR,NORMAL,12,2,10,Cluster 1
2,STRAY,DOG,LARGE,0.0,30.648540,-91.156770,EMACIATED,FRIENDLY,12,2,9,Cluster 4
3,STRAY,DOG,SMALL,2400.0,30.429104,-91.185036,EMACIATED,NORMAL,12,2,15,Cluster 1
4,OWNER SIGNED RELEASE,DOG,EXTRA LARGE,420.0,30.529593,-91.125534,GOOD,FRIENDLY,12,2,10,Cluster 1

In [3]:
clf_model = setup(dataset, target='temperament', ignore_features=['condition', 'lat', 'long'], fix_imbalance=True)

In [4]:
compare_models()

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=6331, verbose=0,
                       warm_start=False)

### Temperament: Building the Model

In [5]:
rf_model = create_model('rf')

In [6]:
tuned_rf_model = tune_model(rf_model, optimize='F1', choose_better=True)

In [7]:
evaluate_model(tuned_rf_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param

In [8]:
#DANGEROUS: 0, FRIENDLY: 1, NERVOUS: 2, NORMAL: 3, SCARED: 4, UNKNOWN: 5

### Temperament: Running the model on test data

In [9]:
predict_model(tuned_rf_model);

In [10]:
final_rf_model = finalize_model(tuned_rf_model)

In [11]:
save_model(final_rf_model,'Final_Temperament_rf_Model_0402021')

Transformation Pipeline and Model Succesfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True,
                                       features_todrop=['condition', 'lat',
                                                        'long'],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=[],
                                       target='temperament', time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value...
                  RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                         class_weight=None, criterion='gini',
                                         max_depth=None, max_features='auto',
                                         max_leaf_nodes=None, max_samples=None,
                                         min_impurity_decrease=0.0,
                                         min_impurity_split=None,
                                         min_samples_leaf=1, min_samples_split=2,
                                         min_weight_fraction_leaf=0.0,
                                         n_estimators=100, n_jobs=-1,
                                         oob_score=False, random_state=6331,
                                         verbose=0, warm_start=False)]],
          verbose=False),
 'Final_Temperament_rf_Model_0402021.pkl')